<template name="header">
    <header class="navbar">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{pathFor 'home'}}">Голосування</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="{{activeRouteClass 'home' 'newPolls'}}">
                        <a href="{{pathFor 'newPolls'}}">Нові</a>
                    </li>
                    <li class="{{activeRouteClass 'bestPolls'}}">
                        <a href="{{pathFor 'bestPolls'}}">Популярні</a>
                    </li>

                    {{#if currentUser}}
                    <li class="{{activeRouteClass 'userPolls'}}">
                        <a href="{{pathFor 'userPolls'}}">Мої</a>
                    </li>
                    <li class="{{activeRouteClass 'pollSubmit'}}">
                        <a href="{{pathFor 'pollSubmit'}}">Додати опитування</a>
                    </li>
                    <li class="dropdown">
                        {{> notifications}}
                    </li>

                    {{/if}}
                </ul>
                <ul class="nav pull-right">
                    <li>{{>loginButtons}}</li>
                </ul>
            </div>
        </div>
    </header>
</template>