<template name="pollSubmit">
    <form class="main">
        <div class="control-group">
            <label class="control-label" for="title">Назва опитування</label>

            <div class="controls">
                <input name="title" type="text" value="" placeholder="введіть назву"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="message">Повідомлення</label>

            <div class="controls">
                <textarea name="message" type="text" value=""></textarea>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Опублікувати" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</template>