<template name="pollPage">
    <div class="pollChartBlock controls">
        <div class="pollActivity">
            {{#each activities}}
            {{> pollActivity}}
            {{/each}}
        </div>
        <canvas id="pollChart" width="200" height="200"></canvas>
    </div>
    {{> pollItem}}
    <div>
        {{#if currentUser}}
        {{> commentSubmit}}
        {{else}}
        <p>Увійдіть в систему щоб залишати коментар</p>
        {{/if}}
        <ul class="comments">
            {{#each comments}}
            {{> comment}}
            {{/each}}
        </ul>
    </div>
    <script type="text/javascript">
        var options = {
            animation: false,
            segmentStrokeWidth: 0,
            percentageInnerCutout: 25
        };

        var data = [
            {
                value: 300,
                color: "#F7464A",
                highlight: "#FF5A5E",
                label: "Red"
            },
            {
                value: 50,
                color: "#46BFBD",
                highlight: "#5AD3D1",
                label: "Рома"
            },
            {
                value: 100,
                color: "#FDB45C",
                highlight: "#FFC870",
                label: "Yellow"
            }
        ];

        var chartElement = document.getElementById("pollChart");
        var ctx = chartElement.getContext("2d");
        var theChart = new Chart(ctx).Doughnut(data, options);
    </script>
</template>