<template name="pollItem">
    <div class="poll" {{attributes}}>
        <a href="#" class="upvote btn {{upvotedClass}}">⬆</a>

        <div class="poll-content">
            <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>

            <p>
                {{pluralizeVote votes}},
                опублікувано {{author}}
                <a href="{{pathFor 'pollPage'}}">{{pluralizeComment commentsCount}}</a>
                {{#if ownPoll}}<a href="{{pathFor 'pollEdit'}}">Редагувати</a>{{/if}}
            </p>
        </div>
        <a href="{{pathFor 'pollPage'}}" class="discuss btn">Переглянути</a>
    </div>
</template>
