<template name="pollPage">

    <div class="pollChartBlock controls">
        <div class="pollActivity">
            {{#each activities}}
            {{> pollActivity}}
            {{/each}}
        </div>
        {{> chart}}
        <div class="poll-options controls">
            {{#each options}}
            {{> pollOption}}
            {{/each}}
        </div>
    </div>
    {{> pollItem}}
    <div>
        {{#if currentUser}}
        {{> commentSubmit}}
        {{else}}
        <p>Увійдіть в систему щоб залишати коментар</p>
        {{/if}}
        <ul class="comments">
            {{#each comments}}
            {{> comment}}
            {{/each}}
        </ul>
    </div>
</template>