<template name="pollEdit">
    <form class="main">
        <div class="control-group">
            <label class="control-label" for="title">Назва</label>

            <div class="controls">
                <input name="title" type="text" value="{{title}}" placeholder="Назва опитування"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="message">Повідомлення</label>

            <div class="controls">
                <textarea name="message" type="text" value="{{message}}"></textarea>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Зберегти" class="btn btn-primary submit"/>
            </div>
        </div>
        <hr/>
        <div class="control-group">
            <div class="controls">
                <a class="btn btn-danger delete" href="#">Видалити опитування</a>
            </div>
        </div>
    </form>
</template>