<template name="pollItem">
    <div class="poll" {{attributes}}>
        <a href="#" class="upvote btn {{upvotedClass}}">⬆</a>

        <div class="poll-content">
            <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>

            <p>
                {{pluralize votes "vote"}},
                submitted by {{author}}
                <a href="{{pathFor 'pollPage'}}">{{pluralize commentsCount "comment"}}</a>
                {{#if ownPoll}}<a href="{{pathFor 'pollEdit'}}">Edit</a>{{/if}}
            </p>
        </div>
        <a href="{{pathFor 'pollPage'}}" class="discuss btn">Discuss</a>
    </div>
</template>
