<template name="notifications">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Сповіщення
        {{#if notificationCount}}
        <span class="badge badge-inverse">{{notificationCount}}</span>
        {{/if}}
        <b class="caret"></b>
    </a>
    <ul class="notification dropdown-menu">
        {{#if notificationCount}}
        {{#each notifications}}
        {{> notification}}
        {{/each}}
        {{else}}
        <li><span>Немає нових сповіщень</span></li>
        {{/if}}
    </ul>
</template>

<template name="notification">
    <li>
        <a href="{{notificationPollPath}}">
            <strong>{{commenterName}}</strong> залишвив коментар до Вашого опитування
        </a>
    </li>
</template>